# lidarr.service
#
# Download automation for music

[Unit]
Description=Lidarr Daemon
After=syslog.target network.target

[Service]
User=lidarr
Group=lidarr

Type=simple
ExecStart=/usr/bin/mono /opt/Radarr/Radarr.exe -nobrowser -data=/home/radarr
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
